// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav.main-nav {
  border-radius: 0;
}

.avatar-icon {
  font-size:30px;
  width:30px;
  height:30px;
}